RewriteEngine On
RewriteBase /ETU004364/TRINOME_EXAMEN2/

# Si le fichier ou dossier existe, le servir directement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tout le reste passe par index.php
RewriteRule ^(.*)$ index.php [QSA,L]